.login{
    width:400px;
    display: inline-block;
    vertical-align: top;

}
.registration{
    width:400px;
    display: inline-block;
    margin: 0px 200px 0px 200px;

}
.alert-box{
    color:red;
    height:25px;
    padding:0px;

}
.alert-box p{
    marign:0px;
}
label{
    font-size: 20px;
}